*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.btn-primary{
    background: #FF5959;
    padding: 16px 12px;
    color: #FFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}
.section-title{
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    text-align: center;
    margin-top: 100px;
}
.section-description{
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-top:20px;
    margin-bottom: 50px;
}
/* banner style  */
.banner{
    text-align: center;
    background: url(../images/donation5.jpg) ,linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: contain;
    

}
.banner-item{
    color: white;
    padding: 150px 500px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
}

/* Donate today  */
.donate-today{
    text-align: center!important;
}

.donate-taka{
    text-align: center;
    padding-left: 400px;
    margin-bottom: 60px;
}
.donate-taka ul{
    list-style: none;
    display: flex;
}
.donate-taka li{
    gap: 24px;
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    padding: 43px 24px;
}
.donate-taka ul .list-border{
    border: 2px solid #FF5959;
}
.donate-other-ammount{
   color: #B3B3B3;
   font-size: 18px;
}

/* donate plan style  */

.donate-plan{
    margin-bottom: 130px;
}
.donate-item{
    display: flex;
    gap: 24px;
    padding: 100px;
}

.item-title{
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin-bottom: 16px;
    margin-top: 30px;
}
.item-description{
    color: #707070; 
}

/* Their lives depend on your donation */

.why-donate{
    display: flex;
    margin: 200px;
}
.donate-container{
    margin-right: 100px;
}
.how-to-contribute{
    margin-left: 60px;
}
.image-1 img{
    border-radius: 5px;
    width: 456px;
    height: 477px;
}

/* They need us to survive */
.help-to-survive{
    display: flex;
}
.image-2 img{
    border-radius: 5px;
    width: 456px;
    height: 477px;
}
/* get my update */

.get-update{
    text-align: center;
}
.input-email{
    display: inline-block;
    width: 809px;
    height: 100px;
    background: #FFF4D6;
  
    
}
.input-email input{
    width: 275px;
    height: 48px;
    border-radius:5px 0px 0px 5px;
}
/* footer  */
.footer{
    text-align: center;
}
.footer h3{
    
}
.footer p{

}


